<h1 class="mt-4"> project 10  project case</h1>
<p class="lead mb-3">Welcome</p>
<a href="/users/logout" class="btn btn-secondary">
    logout

<a href="/products" class="btn btn-secondary">
    allproduct
</a>

