<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Stand CRUD</title>
</head>
<body>
<h1>Delete Product</h1>
<form action="/products/<%= product.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
    <p>*<h5>This can not be undone</h5>*</p>
</form>
</body>
</html>