<!DOCTYPE html>
<html>
  <head>
    <title>Produce Stand CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= category %> products</h1>
  <p><a href="/">Back</a></p>
  <ul>
    <% for(let product of products) { %>
      <li> 
        <%= product.name %> 
        <a href="#/edit" class="btn btn-success">EDIT</a>
        <a href="#/products" class="btn btn-success">VIEW</a>
        <a href="#/delete" class="btn btn-success">DELETE</a>
      </li>
    <% } %>
  </ul>
  <<a href="#/new" class="btn btn-success">DELETE</a>
  </body>
</html>
